.fill{
    background-color: rgba(201, 180, 178, 0.486);
}
.margin{
    margin-top: 70px;
}
.text-style{
    font-size: 30px;
    color: rgb(235, 173, 16);
}
.tex-style{
   
    color: rgba(3, 56, 3, 0.685);
}
.fiver{
    color: rgb(19, 80, 80);
    
}